
.model-overlay{
    width : 30vw;
}
.model-close {
    background-color: rgb(7, 139, 139);
    margin : 10px;
    border : 2px solid black;
    border-radius: 10px;
    text-align: left;
}
button {
    background-color: red;
    color : white;
    margin : 10px;
}
.modal-close p {
    padding : 20px;
}
